body {
    margin: 0;
    font-family: 'OCR A Std', sans-serif;
    background-color: rgb(9, 2, 27);
    color: rgb(255, 255, 255);
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: 'OCR A Std', sans-serif;
}

.big-title {
    font-size: 50px;
    margin: 0;
    margin-left: 100px;
}

.middle-title {
    font-size: 100px;
    margin: 0;
    margin-left: 100px;
}

.last-title {
    font-size: 25px;
    margin: 0;
    margin-left: 100px;
}

.image-container {
    position: relative;
    bottom: 400px;
    left: 1200px;

}

.big-button {
    width: 180px;
    height: 35px;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background-color: rgb(9, 2, 27);
    border: none;
    border-radius: 50px;
    margin-bottom: 200px; /* Adjust margin as needed */
    text-align: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.second-page .section {
    font-size: 200px;
    background-color: #f0f0f8;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.animated-emoji {
    font-size: 150px;
    animation: bounceAnimation 2s infinite;
    position: absolute;
    right: 20%; /* Align to the right side */
    top: 40%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
}


