body {
    margin: 0;
    font-family: "IM Fell French Canon SC";
    background-color: black;
    font-family: 'OCR A Std', sans-serif;
    background-color: rgb(0, 0, 0);
}

.top-line {
    height: 2px; /* Set the height of the line */
    background-color: #3498db; /* Set the color of the line */
    width: 100%; /* Make the line span the entire width of the page */
    margin-top: 60px; /* Adjusted margin to move the line down */
}

.page {
    height: 100vh;
    margin: 0;
    margin-right: 600px; /* Adjusted margin-right to move 20% to the left */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
    font-family: 'OCR A Std', sans-serif;
    padding: 20px; /* Added padding for better spacing on small screens */
}

.big-title {
    font-size: 50px;
    margin: 0;
    margin-left: 30px; /* Adjusted margin-left to move 20% to the left */
    margin-top: -200px; /* Moved 50% more up from the previous value */
    margin-bottom: 30px;
}

.middle-title {
    font-size: 100px;
    margin: 0;
    margin-left: 30px; /* Adjusted margin-left to move 20% to the left */
    margin-top: 7.5px; /* Moved 50% more up from the previous value */
    margin-bottom: 30px;
}

.last-title {
    font-size: 25px;
    margin: 0;
    margin-left: 30px; /* Adjusted margin-left to move 20% to the left */
    margin-top: -25px; /* Moved 50% more up from the previous value */
   
}


.big-button {
    width: 180px;
    height: 35px;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background-color: rgb(9, 2, 27);
    border: none;
    border-radius: 50px;
    margin-bottom: 200px; /* Adjust margin as needed */
    text-align: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.second-page .section {
    font-size: 200px;
    background-color: #f0f0f8;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.animated-gif {
    width: 300px; 
    height: 300px; 
    background: url('https://i.pinimg.com/originals/2c/e2/e0/2ce2e0d8e2eeb0f8bfedf5503a346d4f.gif') center/cover no-repeat;
    
    position: absolute;
    left: 110%;
    top: 40%;
    transform: translateY(-50%);
}

.animated-gif2 {
    width: 700x; 
    height: 300px; 
    background: url('https://irp.cdn-website.com/aebad0b7/dms3rep/multi/line-neon.gif') center/cover no-repeat;
    
    position: absolute;
    left: 110%;
    bottom: 50%;
    transform: translateY(-50%);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.scroll-button {
    background: url('https://icon-library.com/images/white-down-arrow-icon/white-down-arrow-icon-7.jpg') no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 10px; /* Adjusted distance from the bottom */
    transform: translateX(-50%);
    animation: bounce 1s infinite; /* Apply the bounce animation */
    transition: transform 0.3s ease-in-out;
}

.scroll-button: hover{
    transform: scale(1.1);
     background-color: #3498db;
}